---
import Main from "../layouts/Main.astro";
---

<Main title="concombre.net" />
<!-- <Post title="The beginning" subtitle="of the end">
  <p>
    This is the first post ever ! And also the last one you'll reach when
    scrolling from the beginning !<br />
    We all gotta start sometime, and end somewhere.
  </p>
</Post> -->
