---
import Main from "../layouts/Main.astro";
import Post from "../layouts/Post.astro";

import { getCollection } from "astro:content";

const entries = await getCollection("posts");

// Render each entry content
const renderedEntries = await Promise.all(
  entries.map(async (entry) => ({
    ...entry,
    Content: (await entry.render()).Content,
  }))
);
---

<Main title="concombre.net">
  {
    renderedEntries.map((entry) => (
      <Post title={entry.data.title} subtitle={entry.data.subtitle}>
        <entry.Content />
      </Post>
    ))
  }
</Main>
