@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori/PPMori-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori/PPMori-ExtralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori/PPMori-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori/PPMori-RegularItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori/PPMori-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mori";
  src: url("/fonts/PPMori/PPMori-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
